

{{> app/_common/header/separator/separator-btn-msep}}

<div id="collapse-chat-btn-msep" class="header-block header-block-collapse-group" >
	<button class="collapse-group-btn" id="collapse-chat-btn">
		<i class="fa fa-comments"></i>
	</button>
</div>

{{> app/_common/header/separator/separator}}

<div class="header-block header-block-collapse-group" >
	<button class="collapse-group-btn" id="quick-panel-btn">
		<i class="fa fa-list-ul"></i>
	</button>
</div>
