.header {
	background-color: $color-background;	
	position: relative;
	right: 0;
	transition: left 0.3s ease;
	z-index: 2000;
	-webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include media-up(xl) {
		height: $header-height-xl;
	}

	@include media(lg) {
		height: $header-height-lg;
	}

	@include media(md) {
		left: 0;	
		height: $header-height-md;
	}

	@include media-down(sm) {
		left: 0;
		height: $header-height-sm;
	}

	.header-fixed & {
		position: fixed;
	}
}