---
layout: app/app-layout
pagename: error-404
---
<section class="section">
	<div class="error-card">
		<div class="error-title-block">
			<h1 class="error-title">404</h1>
			<h2 class="error-sub-title">
				Desculpe, pagina não encontrada
			</h2>
		</div>
		<div class="error-container">
		    <p>É melhor você tentar nossa incrível busca:</p>
		    <div class="row">
		        <div class="col-12">
			    	<div class="input-group">
			            <input type="text" class="form-control">
			            <span class="input-group-btn">
			                <button class="btn btn-primary" type="button">Buscar</button>
			              </span>
			        </div>
			    </div>
		    </div>
		    <br>
		    <a class="btn btn-primary" href="index.html"><i class="fa fa-angle-left"></i> Voltar ao Dashboard</a>
		</div>
	</div>
</section>