---
layout: app/app-layout
pagename: error-500
---
<section class="section">
	<div class="error-card">
		<div class="error-title-block">
			<h1 class="error-title">500</h1>
			<h2 class="error-sub-title">
				Erro do Servidor Interno.
			</h2>
		</div>
		<div class="error-container">
		    <p>Por que não tentar atualizar sua página? ou você pode entrar em contato com o suporte</p>
		    <a class="btn btn-primary" href="index.html">
		    	<i class="fa fa-angle-left"></i>
		    	Voltar ao Dashboard
		    </a>
		</div>
	</div>
</section>