<aside class="sidebar-chat">

	<div class="chat-header">

		{{!-- Criar botão no header para abrir o painel de chat --}}
		<div class="header-btn left">
			<i id="chat-header-open-btn" class="fa fa-comments fa-2x"></i>
		</div>

		<div class="header-btn right" >
			<i id="chat-header-close-btn" class="fa fa-times fa-1x"></i>
		</div>

	</div>

	<div class="chat-body">
		<div class="chat-contact-list ps-scrollview-auto">
			<div class="chat-contact-item">	
				<sup class="unread-count ng-star-inserted">8</sup>					
				<img class="rounded-circle avatar" src="assets/faces/3.jpg" alt="Smiley face"/>			
				<sup class="status-icon online"></sup>
					
			</div>
			<div class="chat-contact-item active">			
				<sup class="unread-count ng-star-inserted">8</sup>
				<img class="rounded-circle avatar" src="assets/faces/4.jpg" alt="Smiley face"/>
				<sup class="status-icon offline"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>
				<img class="rounded-circle avatar" src="assets/faces/5.jpg" alt="Smiley face"/>
				<sup class="status-icon ausente"></sup>
			</div>
			<div class="chat-contact-item">	
				<sup class="unread-count ng-star-inserted">8</sup>		
				<img class="rounded-circle avatar" src="assets/faces/7.jpg" alt="Smiley face"/>
				<sup class="status-icon nao-perturbe"></sup>
			</div>
			<div class="chat-contact-item">		
				<sup class="unread-count ng-star-inserted">8</sup>		
				<img class="rounded-circle avatar" src="assets/faces/8.jpg" alt="Smiley face"/>
				<sup class="status-icon nao-perturbe"></sup>
			</div>
			<div class="chat-contact-item">		
				<sup class="unread-count ng-star-inserted">8</sup>		
				<img class="rounded-circle avatar" src="assets/faces/Arnold.jpg" alt="Smiley face"/>
				<sup class="status-icon offline"></sup>
			</div>
			<div class="chat-contact-item">		
				<sup class="unread-count ng-star-inserted">8</sup>		
				<img class="rounded-circle avatar" src="assets/faces/Barrera.jpg" alt="Smiley face"/>
				<sup class="status-icon online"></sup>
			</div>
			<div class="chat-contact-item">		
				<sup class="unread-count ng-star-inserted">8</sup>		
				<img class="rounded-circle avatar" src="assets/faces/Blair.jpg" alt="Smiley face"/>
				<sup class="status-icon offline"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>	
				<img class="rounded-circle avatar" src="assets/faces/Boyle.jpg" alt="Smiley face"/>
				<sup class="status-icon online"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>	
				<img class="rounded-circle avatar" src="assets/faces/Christy.jpg" alt="Smiley face"/>
				<sup class="status-icon ausente"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>	
				<img class="rounded-circle avatar" src="assets/faces/Copeland.jpg" alt="Smiley face"/>
				<sup class="status-icon online"></sup>
			</div>
			<div class="chat-contact-item">		
				<sup class="unread-count ng-star-inserted">8</sup>		
				<img class="rounded-circle avatar" src="assets/faces/Estes.jpg" alt="Smiley face"/>
				<sup class="status-icon online"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>	
				<img class="rounded-circle avatar" src="assets/faces/Harper.jpg" alt="Smiley face"/>
				<sup class="status-icon ausente"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>	
				<img class="rounded-circle avatar" src="assets/faces/Helen.jpg" alt="Smiley face"/>
				<sup class="status-icon online"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>	
				<img class="rounded-circle avatar" src="assets/faces/Henderson.jpg" alt="Smiley face"/>
				<sup class="status-icon ausente"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>	
				<img class="rounded-circle avatar" src="assets/faces/Josefina.jpg" alt="Smiley face"/>
				<sup class="status-icon online"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>	
				<img class="rounded-circle avatar" src="assets/faces/Katina.jpg" alt="Smiley face"/>
				<sup class="status-icon ausente"></sup>
			</div>
			<div class="chat-contact-item">			
				<sup class="unread-count ng-star-inserted">8</sup>	
				<img class="rounded-circle avatar" src="assets/faces/profile.jpg" alt="Smiley face"/>
				<sup class="status-icon ausente"></sup>
			</div>
		</div>

		<div class="chat-content">

			<div class="chat-message-body ps-scrollview-auto">				
				
		
					<div class="chat-message-text his">						
						<p class="message">Angular reactive forms. </p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>	
			
				
				
					<div class="chat-message-text his">						
						<p class="message">Angular reactive forms facilitate a reactive style. </p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>
			

			
					<div class="chat-message-text his">						
						<p class="message">?.</p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>		
		

				
					<div class="chat-message-text his">						
						<p class="message">?</p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>	
			
			
			
					<div class="chat-message-text me">						
						<p class="message">?</p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>	
			

				
					<div class="chat-message-text me">						
						<p class="message">.</p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>	 
			

					<div class="chat-message-text his">						
						<p class="message">Angular reactive. </p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>
				
				
				
					<div class="chat-message-text his">						
						<p class="message">Angular reactive. </p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>	
			
			
					<div class="chat-message-text me">						
						<p class="message">Angular reactive forms facilitate a reactive style. </p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>		
			

					<div class="chat-message-text me">						
						<p class="message">Angular reactive forms facilitate a reactive style of programming.</p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>	
			

			
					<div class="chat-message-text his">						
						<p class="message">Angular reactive. </p>			
						<div class="status">								
							<span class="sent"><i class="fa fa-check" aria-hidden="true"></i></span>	
							<span class="hora">15:46</span>					
						</div>						
					</div>		
			

			</div>

			<div class="chat-message-footer">
				<div class="chat-message-edit">
					<textarea class="chat-text-edit ps-scrollview-auto"></textarea>
					<button id="chat-envio-btn" class="chat-envio">
						<i class="fa fa-paper-plane"></i>
					</button>
				</div>
			</div>

		</div> 
	</div>
		
</aside>
