{{!-- Profile --}}
{{!-- <li class="profile dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <div class="img rounded-circle" style="background-image: url('assets/faces/profile.jpg')"> </div>
    <span class="name">
      Reinaldo dos santos
    </span>
  </a>
    <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#">
      <i class="fa fa-user icon"></i>
      Profile
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-bell icon"></i>
      Notifications
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-gear icon"></i>
      Settings
    </a>
    <div class="dropdown-divider" ></div>
    <form method="POST" action="/logout">
	    <button class="dropdown-item" type="submit">
	      <i class="fa fa-power-off icon"></i>
	      <span>Logout</span>
	    </button>
    </form>  
  </div>
</li> --}}
<div class="nome">
    <span>Reinaldo dos Santos</span>
</div>
<div class="email">
    <span>reinaldo.developer@outlook.com</span>
</div>
<div class="foto"> 
  <div class="img rounded-circle borda-grossa sidebar-centro" style="background-image: url('assets/faces/Boyle.jpg')"></div>
</div>
 