<aside class="sidebar-quick-panel">

	<div class="quick-panel-list">

		<nav class="menu">
			<ul class="sidebar-menu metismenu" id="sidebar-quick-panel">
				<li>
					<a></a>
					<ul class="sidebar-nav collapse">

					</ul>
				</li>
				<div class="quick-panel-separator"></div>	
			</ul>
		</nav>
	</div>

	

		
</aside>
<div class="sidebar-quick-panel-overlay" id="sidebar-quick-panel-overlay"></div>