---
layout: app/app-layout
pagename: dashboard
items:
---
<section class="section">
    <div class="row sameheight-container">
          {{!--
        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
            {{> app/dashboard/stats/stats}}
        </div>
        --}}

         {{!-- 
        <div class="col col-12 col-sm-12 col-md-12 col-xl-12 ">
            {{> app/layout/formulario/form-full}}
        </div>
        --}}
    </div>
</section>

